body{
    margin: 0;
    padding: 0; 
    background: url(../1.jpg) no-repeat center fixed;
    background-size: cover;
}
#img{
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    background:rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    padding: 15px;
    margin-top: 20%;
}
#hov{
    margin-top: 7px;
    font-family:courier,arial,helvetica;
    background: transparent;
    border: transparent;
    font-size:25px;
    font-weight: bold;
    color: whitesmoke;
}
#hov:hover{
    color: rgb(38, 24, 224);
}